include partials/preprocess
doctype html
html
  head( prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#" )
    block head

      title
        if page.title
          | #{ page.title } - #{ site.title }
        else
          | #{ site.title }

      meta( charset='utf-8' )
      meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
      meta( name='viewport', content='width=device-width, initial-scale=1.0' )

      if page.redirect
        if page.redirect.indexOf('http://') > -1
          meta( http-equiv="refresh", content="0;URL=#{ page.redirect }" )
        else
          meta( http-equiv="refresh", content="0;URL=#{ site.url }#{ page.redirect }" )

      meta( name='description', content=site.description )
      meta( name="author", content=site.author )
      link( type="text/plain", rel="author", href="#{ site.url }/humans.txt" )
      <!-- See #{ site.url }/humans.txt for detailed info about authorship and used technologies -->

      meta( name="msapplication-TileColor", content="#df342e" )
      meta( name="msapplication-TileImage", content="/tileicon.png" )

      meta( name="apple-mobile-web-app-title", content="Lekevicius" )
      meta( name="apple-mobile-web-app-capable", content="yes" )
      meta( name="apple-mobile-web-app-status-bar-style", content="black-translucent" )

      link( rel="canonical" href="#{ site.url }#{ page.url }" )
      link( rel="alternate" type="application/atom+xml" title="Journal Feed (Atom)" href="/feed.xml" )

      - isArticle = !! ( helpers.rePostName.exec(file.history[0]) )
      meta( property="og:type", content=( isArticle ? 'article' : 'website' ) )
      meta( property="og:url", content="#{ site.url }#{ page.url }" )
      meta( property="og:site_name", content=site.title )
      if page.title
        meta( property="og:title", content="#{ page.title } #{ isArticle ? 'by' : '-' } #{ site.title }" )
      else
        meta( property="og:title", content=site.title )
      meta( property="og:description", content=site.description )
      if isArticle
        meta( property="article:published_time", content=page.date.format("YYYY-MM-DD") )
        meta( property="article:author", content="#{ site.url }/profile" )

      link( rel='stylesheet', href='/css/jl.css' )

      style#color-styles.
        a, .color-text { color: #{ page.color } } #color, #color-cover { background-color: #{ page.color } } .color-background { background-color: #{ page.color } !important } .color-border { border-color: #{ page.color } !important }

      if page.customStylesheet
        link( href=page.customStylesheet, rel="stylesheet" )

      //- script( src="//use.typekit.net/tdv5ais.js" )
      //- script try{Typekit.load();}catch(e){}

      <!--[if lt IE 9]>
      script( src="//html5shim.googlecode.com/svn/trunk/html5.js" )
      script( src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js" )
      <![endif]-->

  body#body( class=page.bodyclass )
    block body
      include partials/analytics

      #page
        #content
          block content
            section.content

        footer
          .wrap
            block footer

      script( src="http://code.jquery.com/jquery-2.1.1.min.js" )
      script( src="/js/jl.js" )

      if page.customScript
        script( src=page.customScript )

