doctype xml
feed( xmlns="http://www.w3.org/2005/Atom" )
  title #{ site.title }
  subtitle #{ site.description }

  link( href="#{ site.url }/feed.xml", rel="self", type="application/atom+xml" )
  link( href="#{ site.url }/", rel="alternate", type="text/html" )

  updated #{ site.date.toISOString() }
  id #{ site.url }
  //- rights "Copyright (c) 2005-#{ Time.now.year } #{ @site.author }"

  author
    name #{ site.author }
    email #{ site.email }
    uri #{ site.url }

  - var index = 0
  for post in site.posts
    if index < 20
      if page.includeLinks || (post.link == undefined)
        - index++
        entry
          id #{ site.url }#{ post.url }
          if post.link
            link( href="#{ post.link }", rel="alternate", type="text/html" )
          else
            link( href="#{ site.url }#{ post.url }", rel="alternate", type="text/html" )

          published= post.date.toISOString()
          updated= post.date.toISOString()

          title= post.title
          content( type="html", xml:base=site.baseurl, xml:lang="en" )
            :cdata
              !{ post.content }
