extends basic

block content
  .row: .col-content.posts
    each post in page.posts
      .post( class=( post.link ? 'link-post' : 'article-post' ) )
        if post.link
          h3
            a( href=post.link )= "» " + post.title
            a.permalink( href=post.url ) &nbsp;∞&nbsp;Permalink
        else
          h3: a( href=post.url )= post.title
          if post.subtitle
            h4.subtitle!= post.subtitle

        unless post.link
          .byline
            | Published on 
            = helpers.moment(post.date).format('MMMM Do, YYYY')
            | . Reading time: 
            = post.readingTime + " minute" + ( post.readingTime > 1 ? 's' : '' )
            | .
        != post.content
  
  .row: .col-content
    if page.previousPageURL
      a.pull-left( href=page.previousPageURL ) Newer entries
    if page.nextPageURL
      a.pull-right( href=page.nextPageURL ) Previous entries
