header.site-header( class=( page.darkHeader ? 'dark' : '' ) )
  if page.cover
    .background-image.with-background.visible( style="background-image: url(#{ page.cover })", data-background-url=page.cover )
  else
    .background-image
    
  .header-inner.container
    .navigation-items
      a.site-title( href='/' )
        .logo
          include svg/logo
      nav
        ul
          li.menu-item-title( class=( page.section == 'home' ? 'menu-current' : '' ) ): a( href='/' ) Jonas Lekevicius
          li.menu-item-journal( class=( page.section == 'journal' ? 'menu-current' : '' ) ): a( href='/journal' ) Journal
          li.menu-item-projects( class=( page.section == 'projects' ? 'menu-current' : '' ) ): a( href='/projects' ) Projects
          li.menu-item-profile( class=( page.section == 'profile' ? 'menu-current' : '' ) ): a( href='/profile' ) Profile

    a.menu-button( href='#' )
      .bar.first
      .bar.second
      .bar.third
      .bar.fourth

  //- #color

  .page-title.container
    if page.customTitle
      != page.customTitle
    else
      if page.title
        if page.link
          a( href=page.link ): h1
            | » 
            != page.title
        else
          h1!= page.title

      if page.description
        p!= page.description
      else if page.subtitle
        h2!= page.subtitle
